/* container */
.container {
    width: min(100%, 1440px);
    background-color: #1C5550;
    margin: auto; 
     padding: 40px;
    /* display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 48px 340px 340px 146px 146px 220px;
    grid-template-areas:
        "HEADER HEADER HEADER HEADER"
        "ASIDE"
        "SECTION1 SECTION1"
        "SECTION2"
        "SECTION3"
        "CARD1 CARD2 CARD3 CARD4";
    gap: 40px 48px; */
}

/* header */
header {
    height: 48px;
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-area: HEADER;
    background-color: blueviolet; */
}

.navbar_ul {
    display: flex;
    column-gap: 80px;
}

.navbar_li_link {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #DFD9D9;
}

.button1 {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: none;
    margin: 32px;
    box-shadow: 0px 2px 4px -2px #DFD9D966 inset, 0px 2px 4px 0px #00000033;
    background-color: #1C5550;
}

.fa-user {
    color: #91B599;
}

.fa-cart-shopping {
    color: #C3B97F;
}

/* aside */
aside {
    width: 320px;
    margin: 48px 20px;
    padding: 38px 115px 54px 40px;
    line-height: 5px;
    box-shadow: 0px 4px 4px 0px #00000033 inset, 0px -1px 4px 0px inset #DFD9D966;
    color: #00000033;
    /* grid-area: ASIDE;
    background-color: brown; */
}

h2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #C3B97F;
    margin-bottom: 16px;
}

.navbar_li_link2 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #91B599;
}

span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1C5550;
}

.button2 {
    width: 97px;
    height: 40px;
    padding: 9px 8px 9px 10px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #DFD9D9;
    background-color: #C3B97F;
}

.section1 {
    /* grid-area: SECTION1;
    background-color: bisque; */
}

.section2 {
    /* grid-area: SECTION2;
    background-color: cadetblue; */
}

.section3 {
    /* grid-area: SECTION3;
    background-color: coral; */
}

.card1 {
    /* grid-area: CARD1;
    background-color: darkgoldenrod; */
}

.card2 {
    /* grid-area: CARD2;
    background-color: crimson; */
}

.card3 {
    /* grid-area: CARD3;
    background-color: deeppink; */
}

.card4 {
    /* grid-area: CARD4;
    background-color: dodgerblue; */
}